[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/vulkan"]
	path = thirdparty/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/unirender"]
	path = thirdparty/unirender
	url = git@github.com:xzrunner/unirender.git
[submodule "thirdparty/shadertrans"]
	path = thirdparty/shadertrans
	url = git@github.com:xzrunner/shadertrans.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "thirdparty/DirectXShaderCompiler"]
	path = thirdparty/DirectXShaderCompiler
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "thirdparty/SPIRV-Cross"]
	path = thirdparty/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
